@font-face {
    font-family: MyriadProRegular;
    src: url(font/MyriadPro-Regular.otf);
}
@font-face {
    font-family: MyriadProLight;
    src: url(font/MyriadPro-Light.otf);
}
@font-face {
    font-family: MyriadProBold;
    src: url(font/MyriadPro-Semibold_0.otf);
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #777;
}

body{
    background-color: #fbfbfb;
}

.body{
    width: 960px;
    margin: 0 auto;
    color: #777;
    font-family: MyriadProRegular;
}

.header{
    padding: 39px 0px 0 16px;
}

    .header > div{
        display: inline-block;
        vertical-align: top;
    }

    .header .logo{
        margin: 0 70px 0 0px;
    }

    .header > .logo > img{
        width: 162px;
    }


    .header-search{
        border: 1px solid #777;
        border-radius: 2px;
        padding: 5px;
        background-color: white;
        margin: 0 17px 0 74px;
    }

    .header .header-search > div{
        vertical-align: middle;
        display: inline-block;


    }


    .search input{
        border: none;
        width: 255px;
        height: 36px;
        padding: 0 0 4px 38px;
        background-image: url(sprite.png);
        background-position: 0px -231px;
        background-repeat: no-repeat;
        font-family: MyriadProLight;

    }


    .search-categories{
        border-right: 1px solid #777;
        border-left: 1px solid #777;
    }
    .search-categories > div{
        margin: 0px 6px 0 7px;
        font-size: 14px;
        background-image: url(sprite.png);
        background-position: 89px -306px;
        background-repeat: no-repeat;
    }

    .search-categories > div > input{
        visibility: hidden;
        width: 25px;
        height: 25px;

    }


    .search-submit{
        background-image: url(sprite.png);
        background-position: 0px -158px;
        background-repeat: no-repeat;
        height: 30px;
    }

    .search-submit > input {
        visibility: hidden;
        width: 35px;
    }



    .users-group{
        border-radius: 2px;
        border: 1px solid #777;
        padding: 14px;
    }

    .users-group > div{
        display: inline-block;
        padding: 0 10px;
    }

    .sing-up{
        border-right: 1px solid #777;
    }

    
.header-nav{
    padding: 32px 0px 0 16px;
    background-image: url(line.gif);
    background-repeat: repeat-x;
    background-position: 14px 48px;
}
    
    .header-nav > a{
        display: inline-block;
        width: 115px;
        text-align: center;
        padding-top: 47px;
        background-image: url(sprite.png);
        background-repeat: no-repeat;
        background-position: 41px -391px;
    }
    
    .header-nav a:hover{
        color: #fdcc05;
        text-transform: uppercase;
    }


.main{
    margin: 37px 0 0 15px;
}

    .main > *{
        display: inline-block;

    }

    .main-section{
        width: 695px;
    }


    
    .main-section > div > div{
        display: inline-block;
    }

    .main-section > div{
        vertical-align: top;
    }
    
    .topics{
        width: 164px;
        margin: 0 7px 0 0;
    }

    .topics a{
        width: 76px;
        display: inline-block;
        border: 1px solid #777;
        padding: 45px 0 8px 0;
        font-size: 13px;
        text-align: center;
        margin: 0 2px 4px 0;
    }

    .main-content{
        display: inline-block;
        vertical-align: top;
    }

    .tags{
        margin: 0 0 0 13px;
    }

    .tags a{
        width: 76px;
        display: inline-block;
        border: 1px solid #777;
        padding: 7px 0 6px 0px;
        font-size: 13px;
        text-align: center;
        margin: 0 2px 5px 1px;
    }


    .main-video{
        position: relative;
        margin: 13px 0 0 14px;
        border: 1px solid #777;
    }

    .pagination{
        position: absolute;
        top: 4px;
        right: 0;
        background-color: black;

        font-size: 0;

    }
    .pagination a{
        color: white;
        border-right: 1px solid #777;
        padding: 5px 8px 5px 8px;
        font-size: 17px;
        background-color: black;
    }

    .pagination a:hover{
        background-color: #fdcc05;
    }

    .pagination a:last-child{
        border-right: none;
    }

    .video-description > div:first-child{
        display: inline-block;
        vertical-align: top;
        padding: 4px 174px 10px 12px;
        border-right: 1px solid #777;
    }

    .video-description > div > p + p{
        font-size: 11.4px;
    }
    .pause{
        width: 100px;



    }



.latest-news{
    border: 1px solid #777;
    margin: 8px 0 0px 14px;

}

    .latest-news > div{
        display: inline-block;
        font-size: 0;
    }

    .latest-news a{
        font-size: 12px;
    }


    .most-recent{
        /*border-right: 1px solid #777;*/
        /*border-left: 1px solid #777;*/
    }
    .most-recent > div{
        margin: 0px 6px 0 7px;
        font-size: 14px;
        background-image: url(sprite.png);
        background-position: 89px -306px;
        background-repeat: no-repeat;
    }

    .most-recent > div > input{
        visibility: hidden;
        width: 25px;
        height: 25px;

    }
    
    
    .type-of-view > a{
        display: inline-block;
        background-color: #777777;
        width: 20px;
        height: 25px;
    }



    .main-aside{
        width: 225px;
    }