@font-face {
    font-family: MyriadProRegular;
    src: url(font/MyriadPro-Regular.otf);
}
@font-face {
    font-family: MyriadProLight;
    src: url(font/MyriadPro-Light.otf);
}
@font-face {
    font-family: MyriadProBold;
    src: url(font/MyriadPro-Semibold_0.otf);
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #777;
}

body{
    background-color: #fbfbfb;
}

.body{
    width: 960px;
    margin: 0 auto;
    color: #777;
    font-family: MyriadProRegular;
}

.header{
    padding: 39px 0px 0 16px;
}

    .header > div{
        display: inline-block;
        vertical-align: top;
    }

    .header .logo{
        margin: 0 70px 0 0px;
    }

    .header > .logo > img{
        width: 162px;
    }


    .header-search{
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 5px;
        background-color: white;
        margin: 0 17px 0 74px;
        color: rgb(231, 231, 231);
    }

    .header .header-search > div{
        vertical-align: middle;
        display: inline-block;


    }


    .search input{
        border: none;
        width: 255px;
        height: 36px;
        padding: 7px 0 4px 38px;
        background-image: url(sprite.png);
        background-position: 0px -231px;
        background-repeat: no-repeat;
        font-family: MyriadProLight;
        font-style: italic;
        font-size: 15px;
        color: rgb(231, 231, 231);

    }


    .search-categories{
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }
    .search-categories > div{
        margin: 0px 6px 0 7px;
        font-size: 14px;
        background-image: url(sprite.png);
        background-position: 98px -310px;
        background-repeat: no-repeat;
        padding: 0 15px 0 0;
    }

    .search-categories > div > input{
        visibility: hidden;
        width: 25px;
        height: 25px;
        margin: -8px 0 0 0;
    }


    .search-submit{
        background-image: url(sprite.png);
        background-position: 0px -158px;
        background-repeat: no-repeat;
        height: 30px;
        cursor: pointer;
    }

    .search-submit > input {
        visibility: hidden;
        width: 35px;
    }



    .users-group{
        border-radius: 2px;
        border: 1px solid #ddd;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: rgb(231, 231, 231);
    }
    .users-group a{
    color: #999;
    }
    .users-group > div{
        display: inline-block;
        background-image: url(sprite.png);
        background-repeat: no-repeat;
        padding: 27px 20.5px 2px 15px;
        cursor:pointer;
    }

    .log-in{
        background-position: 16px -78px;
    }

    .sing-up{
        border-right: 1px solid #ddd;
        background-position: 20px 0;
    }



    
.header-nav{
    margin: 32px 0px 0 16px;
    background-image: url(line.gif);
    background-repeat: repeat-x;
    background-position: -2px 17px;
}
    
    .header-nav > a{
        display: inline-block;
        width: 115px;
        text-align: center;
        padding-top: 47px;
        background-image: url(sprite.png);
        background-repeat: no-repeat;

    }

    .header-nav a:hover{
        background-image: url(sprite-hover.png);
    }
    
    .header-nav a:hover{
        color: #fdcc05;
        text-transform: uppercase;
    }

    .header-nav a:nth-child(1){
        background-position: 44px -664px;
    }
    .header-nav a:nth-child(2){
        background-position: 42px -741px;
    }
    .header-nav a:nth-child(3){
        background-position: 38px -900px;

    }
    .header-nav a:nth-child(4){
        background-position: 39px -820px;
    }
    .header-nav a:nth-child(5){
        background-position: 41px -978px;
    }
    .header-nav a:nth-child(6){
        background-position: 41px -391px;
    }
    .header-nav a:nth-child(7){
        background-position: 41px -480px;
    }
    .header-nav a:nth-child(8){
        background-position: 41px -571px;
    }



.main{
    margin: 37px 0 0 15px;
}

    .main > *{
        display: inline-block;

    }

    .main-section{
        width: 697px;
    }


    
    .main-section > div > div{
        display: inline-block;
    }

    .main-section > div{
        vertical-align: top;
    }
    
    .topics{
        width: 165px;
        margin: 0 7px 0 0;
    }

    .topics a{
        width: 76px;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 45px 0 8px 0;
        font-size: 13px;
        text-align: center;
        margin: 0 2px 4px 0;
        background-image: url(images/left-side.png);
        background-repeat: no-repeat;

    }

    .topics a:hover{
        background-color: #555555;
        background-image: url(images/left-side-hover.png);
        color: white;
    }

.topics a:nth-child(1){
    background-position: 27px -64px;
}
.topics a:nth-child(2){
    background-position: 27px 15px;
}
.topics a:nth-child(3){
    background-position: 25px -136px;
}
.topics a:nth-child(4){
    background-position: 27px -213px;
}
.topics a:nth-child(5){
    background-position: 27px -289px;
}
.topics a:nth-child(6){
    background-position: 24px -360px;
}
.topics a:nth-child(7){
    background-position: 26px -437px;
}
.topics a:nth-child(8){
    background-position: 25px -513px;
}
.topics a:nth-child(9){
    background-position: 30px -589px;
}
.topics a:nth-child(10){
    background-position: 26px -667px;
}

    .main-content{
        display: inline-block;
        vertical-align: top;
    }

    .tags{
        padding: 0 0 5px 13px;
    }

    .tags a{
        width: 76px;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 7px 0 6px 0px;
        font-size: 13px;
        text-align: center;
        margin: 0 2.5px 12px 1px;
    }

    .tags a:hover{
        background-image: url(tag.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        color: white;text-transform: uppercase;
        border: 1px solid white;
        padding: 7px 0 18px 0px;
        margin: 0 2.5px 0px 1px;
    }

    .main-video{
        position: relative;

        margin: 0px 0 0 14px;
        border: 1px solid #ddd;
    }

    .pagination{
        position: absolute;
        top: 4px;
        right: 0;
        background-color: #555555;

        font-size: 0;

    }
    .pagination a{
        color: white;
        border-right: 1px solid #ddd;
        padding: 5px 8px 5px 8px;
        font-size: 17px;
        background-color: #555555;
    }

    .pagination a:hover{
        background-color: #fdcc05;
    }

    .pagination a:last-child{
        border-right: none;
    }

    .video-description > div:first-child{
        display: inline-block;
        vertical-align: top;
        padding: 4px 170px 10px 12px;
        border-right: 1px solid #ddd;
        color: #555;
    }

    .video-description > div > p + p{
        font-size: 11.4px;
    }
    .pause{
        display: inline-block;
        width: 50px;
        background-image: url(images/sprite-2.png);
        background-repeat: no-repeat;
        background-position: 0 0;

    }



.latest-news{
    border: 1px solid #ddd;
    margin: 8px 0 0px 14px;

}

    .latest-news > div{
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
    }

    .latest-news a{
        font-size: 12px;
        padding: 1px 21px 0 38px;
        border-right: 1px solid #ddd;
    }


    .most-recent label{
        vertical-align: super;
    }
    .most-recent > div{
        margin: 0px 104px 0 7px;
        padding: 0 72px 0 22px;
        letter-spacing: 0px;
        font-size: 12px;
        background-image: url(sprite.png);
        background-position: 96px -308px;
        background-repeat: no-repeat;
    }


    .most-recent > div > input{
        visibility: hidden;
        width: 25px;
        height: 25px;

    }
    
    
    .type-of-view > a{
        display: inline-block;
        background-color: #777777;
        width: 40px;
        height: 29px;
        padding: 0;
    }
    .type-of-view > a:hover {
        background-color: #fdcc05;
    }
    
    
.article{
    width: 337px;
    border: 1px solid #ddd;
    background-color: white;
    margin: 10px 13px 0 0;
    height: 240px ;
    overflow: hidden;
}

    .article:nth-child(2n){
        margin-right: 0;
    }
    .article-description{
        border: 1px solid #ddd;
        background-color: #fbfbfb;
        text-align: center;
        margin: 4px;
        padding: 4px;
    }

    .article-description > img{
        text-align: center;
    }

    .article-description > div{
        text-align: left;
    }

    .article-name, .rating{
        display: inline-block;
    }

    .article-name{
        display: inline-block;
        padding: 0 2px;
    }

    .article-name span{
        font-size: 13px;
    }

    .rating{
        float: right;
        font-size: 13px;
    }

    .active-star, .star{
        display: inline-block;
        width: 15px;
        height: 15px;
    }



    .article > p{
        padding: 0 5px;

        font-size: 13px;
        
        color: rgb(152, 152, 152);
        line-height: 1.165;

    }

    




.main-aside{
        width: 225px;
        vertical-align: top;
        margin: 0 0 0 17px;
    }

.main-aside h3{
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 5.5px 30px;
    margin: 0 0 10px 0;
}


.news-inner{
    border: 1px solid #ddd;
    background-color: white;
    text-align: center;
    margin: 0 0 6px 0;
}

.news-inner > div{
    text-align: left;
}

.news-inner img{
    padding: 4px 0 0 0;
}

.news-inner .article-name{
    padding: 0 0 0 5px;

}

.popular-video{
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px 0 0 0;


}

.popular-video > .article-name{
    position: absolute;
    bottom: 6px;
    left: 12px;
    color: white;
    text-align: left;
}

.aside-buttons{
    margin: 10px 0;
}
.aside-buttons > div{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 12px;
}

