@font-face {
    font-family: BlissPro;
    src: url(fonts/BlissPro-Regular.otf);
}
@font-face {
    font-family: BlissProBold;
    src: url(fonts/BlissPro-Bold.otf);
}
@font-face {
    font-family: BlissProLight;
    src: url(fonts/BlissPro-Light.otf);
}


div.separator-other{
    padding: 7px 0 0 0;
}

.path{
    margin: 15px 0 4px 0;
    font-size: 13px;


}

.path p{
    padding: 5px 0;
    color: rgb(125, 129, 129);
    font-family: BlissPro;
}

.path p span{
    padding: 0 5px;



}

.path p span:last-child{
    color: black;
}




.other-page-nav {

    padding: 3px 0;
}

.other-page-nav a {
    line-height: 1;
    font-size: 24px;
    color: #006633;
    text-decoration: none;
    font-family: BlissPro;
    margin: 0 2px 0 4px;
    padding: 0px 0 0px 17px;
    border-left: 2px solid #103b1d;
}

.other-page-nav a:first-child {
    border-left: none;
    padding-left: 0;
    margin: 2px;
}



.archive, .shell, .history{
    border: none;
    border-collapse: collapse;
    font-family: BlissPro;
    margin: 0 0 10px 0;
}

.archive .image-of-book  img, .shell .image-of-book  img{
    width: 50px;
    height: 80px;
    overflow: hidden;
    margin-top: 5px;
    box-shadow: 5px 6px 21px rgba(0,0,0,0.5);
}


.archive td, .archive th, .shell td, .shell th {
    border: none;
    border-bottom: 2px solid #e7f0eb;
    padding: 9px 0;
}


.archive tr:last-child td, .shell tr:last-child td{
    border: none;
}


th.description{
    text-align: left;

}

td.date{
    text-align: center;


}

td.delete a {
    line-height: 1.6;
    font-size: 18px;
    color: #006633;
    text-decoration: none;
    margin: 0 9px 0 0;
    padding: 1px 0 1px 17px;

}

.archive th, .shell th{
    color: #3f3f3f;
    font-size: 16px;
}

.archive td .author, .shell td .author{
    font-size: 16px;
    margin: 3px 0 7px 0;
    letter-spacing: 0px;
}

.archive td .name-of-book, .archive td .price
.shell td .name-of-book, .shell td .price{
    font-size: 22px;
    color: #3f3f3f;
    letter-spacing: 0.9px;
    margin: 0 0 7px 0;
}
.archive td .price, .shell td .price{
    letter-spacing: 2.5px;
}

td.image-of-book{
    text-align: center;
    width: 100px;
}

td.description{
    padding: 0px 5px;
    width: 484px;
    
}

.archive-sale{

}
.archive-sale > div{
    display: inline-block;
    background-color: #006633;
    opacity: 0.9;
    color: white;
    padding: 0px 3px 1px 4px;
    margin: 0 0 0 8px;
}
.archive-sale .new-price{
    color: #297651;
   font-family: BlissProBold;
    font-size: 22px;
    margin: 0 0 7px 0;
    letter-spacing: 2.5px;
}

.description .archive-sale > .price{
    font-size: 17px;
    margin: 0px -5px 0 14px;
    letter-spacing: 1.5px;
    text-decoration: line-through;
}

.add-archive div, .make-format div{
    width: 127px;
    background-color: #297651;
    color: white;
    padding: 4px 8px 7px 19px;

}

.add-archive{
    width: 178px;
}

.add-archive div a{
    font-family: BlissProLight;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

td.delete{
    text-align: right;
    padding: 0 0px 0 0px;
    letter-spacing: 0.5px;
}


.make-format{
    width: 450px;
    text-align: center;
}


.make-format div{
    margin: 0 auto;
    text-align: center;
    font-family: BlissProLight;
    padding: 5px 12px 5px 13px;
}


.make-format span{
    margin: 0 0 0px -37px;
}


.shell td.date{
    text-align: center;
    padding: 0px 0 4px 15px;
}

.shell td .author {
    margin: -25px 0 7px 0;
}

.shell .name-of-book{
    font-size: 24px;
    color: #3f3f3f;
}



.history{
    margin: 10px 0 35px 0px;
}

    .history .order{
        vertical-align: top;
    }

    .history td, .history th {
        border: none;
        border-bottom: 2px solid #e7f0eb;
        padding: 9px 0;
    }

    .history tr:last-child td{
        border: none;
    }


    .history th{
        text-align: left;
        color: #3f3f3f;
    }
    
    .history th, .history td{
        padding: 0 0 0 10px;
    }

    .history td {
        padding: 9px 0 0 10px;
    }
    
    .history td ol{
        margin: 0 0 0 15px;
        color: #3f3f3f;
    }

    .history td ol li{
        text-decoration: underline;
        margin: 0 0 5px 0;
    }

    .history td a{
        line-height: 1;
        font-size: 18px;
        color: #006633;
        text-decoration: none;
        margin: 0 9px 0 0;

    }

    .cancel, .delete-history{
        width: 105px;
        text-align: center;
    }

    .pay-history{
        width: 75px;

    }

    .pay-history a{
        display: none;
    }

    .pay-history a:first-child{
        display: inline-block;
    }

    .num-of-order, .status, .way-of-pay{
        background-color: #f3f7f5;
    }

    
    
.options{
    margin: 15px 0 0 0;
    text-align: center;
}   
    .options > div{
        margin: 25px auto;
        vertical-align: top;
        width: 750px;
        position: relative;
        text-align: left;
        margin-bottom: 13px;
    }
    .personal-data-options, .password-options{
        width: 290px;
        display: inline-block;
        vertical-align: top;

    }

    .personal-data-options {
        margin: 0 148px 0 -3px;
    }


    .personal-data-options form input, .password-options form input {
        width: 276px;
        font-family: BlissPro;
        margin: 12px 0 -2px 14px;
        font-size: 16px;
        padding: 9px 0px 8px 10px;
        color: rgb(17, 17, 17);
        border: 1px solid #30553b;
    }

    .options p{
        font-size: 24px;
        font-family: BlissPro;
        color: rgb(18, 103, 62);
        text-align: left;
    }

    
    .news-form input[type="checkbox"]{
        width: 17px;
    }
    
    .save-button{
        text-align: center;
        margin: 31px 0 30px 0;
    }
    
    .save-button a{
        font-family: BlissProBold;
        text-decoration: none;
        color: rgb(18, 103, 62);
        border: 1px solid #40624a;
        padding: 7px 25px 8px 18px;
        border-radius: 10px;
    }

    .options span{
        font-size: 18px;
        font-family: BlissPro;
        color: rgb(18, 103, 62);
    }
    
    .options ul{
        list-style: none;
    }
    
    .options > ul > li{
        display: inline-block;
        margin: 10px 15px 18px 0;
    }


table.cart{
    margin: 30px 0 35px 0px;
}


    .cart{
        border: none;
        border-collapse: collapse;
        font-family: BlissPro;
        margin: 0 0 10px 0;
    }

    .cart td, .cart th {
        border: none;
        border-bottom: 2px solid #e7f0eb;
        padding: 9px 0;
    }

    .cart tr:last-child td{
        border: none;
    }


    .cart th{
        text-align: left;
        color: #3f3f3f;
    }

    .cart th, .cart td{
        padding: 0 0 5px 10px;
    }

    .cart td {
        padding: 9px 0 6px 10px;
    }

    .cart td a{
        line-height: 1;
        font-size: 18px;
        color: #006633;
        text-decoration: none;
        margin: 0 9px 0 0;

    }

    .cart .image-of-book  img{
        width: 50px;
        height: 80px;
        overflow: hidden;
        margin-top: 10px;
        box-shadow: 5px 6px 21px rgba(0,0,0,0.5);
    }

    .cart td.date{
        text-align: left;
    }

    .cart .description{
        width: 512px;
    }
    .cart .description .name-of-book{
        font-size: 22px;
        color: #3f3f3f;
    }

    .cart td.image-of-book {
        width: 85px;
    }

    .cart .author {
        font-size: 16px;
        margin: -2px 0 9px 0;
    }

    .cart .add-line-archive{
        width: 133px;

    }

    .cart .archive-sale .price{
        font-size: 17px;
        text-decoration: line-through;
        color: #3f3f3f;
    }





@media screen and (max-width: 1179px) and (min-width: 768px){
    table.history{
        font-size: 14px;
        margin: 10px 0 35px 0px;
    }

        .history td a {
            font-size: 14px;
        }
        .cancel, .delete-history{
            width: 55px;
        }
        .pay-history{
            width: 45px;
        }

        .history th, .history td{
            padding: 0 0 0 5px;
        }


}

@media screen and (max-width: 767px) and (min-width: 600px) {
    .other-page-nav a {
        font-size: 20px;
    }

    .shell td.description {
        width: 342px;
    }

    table.history{
        font-size: 14px;
        margin: 10px 0 35px 0px;
    }

        .history th, .history td{
            padding: 0 0 0 2px;
        }

        .history td a {
            font-size: 14px;
        }
        .cancel, .delete-history{
            width: 70px;
        }
        .pay-history{
            width: 45px;
        }


    .options{

    }
        .options > div {
            width: 600px;
        }

        .personal-data-options form input, .password-options form input {
            width: 220px;
        }

        .personal-data-options {
            margin: 0px 55px 0 -3px;
        }

        .personal-data-options, .password-options {
            width: 270px;
        }
        .options p{
            font-size: 18px;
        }

        .options span{
            font-size: 16px;
        }

}


@media screen and (max-width: 599px) and (min-width: 400px) {
    .other-page-nav a {
        font-size: 20px;
    }

    .archive th.date, .archive td.date {
        text-align: center;
        display: none;

    }

    .add-archive div {
        width: 90px;
        padding: 1px 0px 2px 0px;
        text-align: center;
    }

    .archive td .name-of-book, .archive td .price {
        font-size: 15px;
    }


    .archive-sale .new-price {
        font-size: 15px;
    }

    .description .archive-sale > .price {
        font-size: 14px;
        margin: 0;
    }

    .archive-sale > div {
        font-size: 12px;
    }

    .other-page-nav a {
        margin: 0px 2px 0px 4px;
        padding: 0px 10px 0px 10px;
        border-left: 2px solid #103b1d;
        text-align: center;
    }

    .other-page-nav a:nth-child(4){
        border-left: none;
        padding: 0;
    }


    .shell td.make-format{
        font-size: 14px;
    }

    .shell .make-format{
        width: 250px;
    }
    .shell .make-format div{
        padding: 5px 0 5px 0;
        width: 100px;

    }

    .shell .make-format div a{
        font-size: 14px;
    }

    .shell .description .name-of-book{
        font-size: 18px;
    }

    .shell td .author {
        margin: 0px 0 7px 0;
    }

    .make-format span {
        margin: 0 0 0px -3px;
    }


    table.history{
        font-size: 14px;
        margin: 10px 0 35px 0px;
    }

        .history th, .history td{
            padding: 0 0 0 2px;
        }

        .history td a {
            font-size: 14px;
        }
        .cancel, .delete-history{
            width: 70px;
        }
        .pay-history{
            width: 45px;
        }
        
        .status, .way-of-pay, .num-of-order{
            display: none;
        }

        .pay-history a{
            display: inline-block;
        }

        .cancel, .delete-history{
            display: none;
        }

    .options{

    }
        .options > div {
            width: 400px;
        }

        .personal-data-options form input, .password-options form input {
            width: 150px;
            padding: 5px 0px 4px 5px;
            font-size: 14px;
        }

        .personal-data-options {
            margin: 0px 17px 0 -3px;
        }

        .personal-data-options, .password-options {
            width: 190px;
        }
        .options p{
            font-size: 16px;
        }

        .options span{
            font-size: 14px;
        }

}








@media screen and (max-width: 399px) {
    .other-page-nav a {
        font-size: 18px;
    }

    .archive th.date, .archive td.date,
    .shell th.date, .shell td.date {
        text-align: center;
        display: none;

    }
    
    table.archive{
        margin: 0 0 25px 0;
    }

    .add-archive div {
        width: 64px;
        padding: 1px 0px 2px 0px;
        text-align: center;
    }

    .archive td .name-of-book, .archive td .price,.archive-sale .new-price {
        font-size: 15px;
        letter-spacing: 0;
    }



    .description .archive-sale > .price {
        font-size: 14px;
        margin: 0;
        letter-spacing: 0;
    }

    .archive-sale > div {
        font-size: 12px;
    }

    td.delete a, .add-archive div a{
        font-size: 15px;
        
    }
    
    td.delete a{
        padding: 0;
    }


    .other-page-nav a {        
        margin: 0px 2px 0px 4px;
        padding: 0px 10px 0px 10px;
        border-left: 2px solid #103b1d;
        text-align: center;
    }
    
    .other-page-nav a:nth-child(4){
        border-left: none;
        padding: 0;

    }


    .shell td.make-format{
        font-size: 14px;
    }

    .shell .make-format{
        width: 250px;
    }
    .shell .make-format div{
        padding: 5px 0 5px 0;
        width: 100px;

    }

    .shell .make-format div a{
        font-size: 14px;
    }

    .shell .description .name-of-book{
        font-size: 18px;
    }

    .shell td .author {
        margin: 0px 0 7px 0;
    }

    .make-format span {
        margin: 0 0 0px -3px;
    }


    table.history{
        font-size: 14px;
        margin: 10px 0 35px 0px;
    }

        .history th, .history td{
            padding: 0 0 0 2px;
        }

        .history td a {
            font-size: 14px;
        }
        .cancel, .delete-history{
            width: 70px;
        }
        .pay-history{
            width: 45px;
        }

        .status, .way-of-pay, .num-of-order{
            display: none;
        }

        .pay-history a{
            display: inline-block;
        }

        .cancel, .delete-history{
            display: none;
        }

    .options{

    }
        .options > div {
            width: 300px;
        }

        .personal-data-options form input, .password-options form input {
            width: 280px;
            padding: 7px 0px 6px 5px;
            font-size: 14px;
        }

        .personal-data-options {
            margin: 0px 17px 0px -3px;
        }

        .personal-data-options, .password-options {
            width: 300px;
            margin-bottom: 15px;
        }
        .options p{
            font-size: 16px;
        }

        .options span{
            font-size: 14px;
        }


}



