@font-face {
    font-family: BlissPro;
    src: url(fonts/BlissPro-Regular.otf);
}
@font-face {
    font-family: BlissProBold;
    src: url(fonts/BlissPro-Bold.otf);
}
@font-face {
    font-family: BlissProLight;
    src: url(fonts/BlissPro-Light.otf);
}

a{
    text-decoration: none;
    color: #006633;
}


div.left-side{
    width: 833px;
}

.left-side, .right-side{
    display: inline-block;
    vertical-align: top;
}

.left-side > div{
    display: inline-block;
}
.page-book{
    vertical-align: top;
    font-family: BlissPro;
    margin-bottom: 40px;
}
    .page-book > div{
        display: inline-block;
        vertical-align: top;
    }
.page-img-of-book{
    position: relative;
    width: 275px;
    margin: 0 10px 0 0;

}

    .page-img-of-book img{
        width: 275px;
        margin: 7px 0 0 0;
    }


    .page-img-of-book ul li{
        display: inline-block;
        list-style: none;
    }

    .page-img-of-book ul li > a{
        border: 1px solid gray;
        color: black;
        padding: 2px 5px 2px 19px;
        font-size: 12px;
        line-height: 1.4;
    }

    .page-img-of-book span{
        position: absolute;
        color: white;
        font-size: 20px;
        text-align: center;
    }


    .page-img-of-book .percents{
        background-color: rgb(158, 11, 15);
        opacity: 0.89;
        top: 27px;
        padding: 0 36px;
        left: -4px;
        line-height: 1.8;

    }

    .page-img-of-book .new-book{
        background-color: rgb(18, 103, 62);
        opacity: 0.89;
        top: 77px;
        padding: 0 25px;
        left: -4px;
        line-height: 1.8;

    }

    .page-img-of-book .unavailable{
        position: absolute;
        color: white;
        background-color: rgb(18, 103, 62);
        opacity: 0.89;
        padding: 0 37px;
        font-size: 18px;
        top: 225px;
        left: 53px;
        width: 100px;
        height: 45px;
        text-align: center;
    }


.about-book{
    width: 530px;
    margin: 0 0 0 10px;
    position: relative;
}

    .about-book h3{
        font-size: 24px;
        color: rgb(18, 103, 62);
        font-weight: lighter;

    }

    .about-book h2{
        font-size: 48px;
        font-family: BlissProLight;
        font-weight: lighter;
        margin: 0 0 18px 0;
    }

    .about-book > a{
        border: 2px solid #006633;
        color: black;
        padding: 2px 5px;
        margin: 5px 0;
    }
    .about-book p{
        margin: 4px 0 0 0;
        font-size: 16px;
        font-weight: bold;
    }

    .about-book p > span{
        font-weight: lighter;
        padding: 0 10px;
    }

    .about-book > p{
        margin: 30px 0 10px 0;
        line-height: 1.333;
        width: 512px;
        word-break: keep-all;
        font-weight: normal;
        font-size: 18px;
    }

    .about-book > p > a{
        font-size: 14px;
    }

.language{
    position: absolute;
    top: 10px;
    right: 0px;
}

    .language > a{
        border: 2px solid #006633;
        color: black;
        padding: 2px 7px;

    }

    .language > a.active-language{
        background-color: #006633;
        color: white;
    }


.right-side{
    width: 285px;
    margin: 0 0 0 55px;
    position: relative;
}
    
    
    .right-side > *{
        width: 240px;
        display: block;
        text-align: center;
        margin: 15px auto;
    }
    
    .right-side > .separator{
        width: 100%;
    }



.right-side > p > span{
        text-decoration: line-through;
        float: left;
    }

    .right-side > p{
        font-size: 20px;
        text-align: right;
        margin: 0 auto;
    }
    .right-side > a{
        background-color: #006633;
        color: white;
        text-transform: uppercase;
        margin: 5px auto;
        padding: 10px 0;
        border-radius: 10px;
    }

    .right-side > .sum{
        border: 2px solid #006633;
        border-radius: 10px;
        padding: 30px 0;
    }

    .right-side > .sum > p{
        color: #006633;
        font-weight: bold;

    }
    .right-side > .sum > p:first-child{
        font-size: 36px;

    }


.logo-page{
    overflow: hidden;
    margin: 0 auto;
}

    .logo-page a{
        vertical-align: top;
        margin: 5px 0;
    }

    .logo-page a:first-child{
        float: left;
    }

    .logo-page a:last-child{
        height: 18px;
        width: 18px;
        float: right;
        border: 1px solid gray;
        border-radius: 50%;
    }



div.widget-vk{
    position: absolute;
    bottom: -528px;
    left: 23px;
}


.comments{
    padding: 0 0 40px 0;
}

    .comments form{
        display: inline-block;
        vertical-align: top;
    }
    .comments .tools{
        background: #f8f8f8;
        padding: 5px 0 0 0;
        border: 1px solid gray;
        border-bottom: none;
    }
    .comments .tools > div{
        display: inline-block;
        margin: 0 0 0 15px;

    }

    .comments .tools  div > div{
        display: inline-block;
    }
    .comments .tools input{
        width: 17px;
        height: 17px;
        margin: 0 2px;
        visibility: hidden;
    }


    .comments .tools > div div{
        background-repeat: no-repeat;

    }
    .comments .tools > div:last-child div:nth-child(1){
       background-image: url(smile_03.jpg);
    }
    .comments .tools > div:last-child div:nth-child(2){
        background-image: url(smile_05.jpg);
    }
    .comments .tools > div:last-child div:nth-child(3){
        background-image: url(smile_07.jpg);
    }
    .comments .tools > div:last-child div:nth-child(4){
        background-image: url(smile_09.jpg);
    }
    .comments .tools > div:first-child div:nth-child(1){
        background-image: url(tools_16.jpg);
        background-position: 0 4px;
    }
    .comments .tools > div:first-child div:nth-child(2){
        background-image: url(tools_18.jpg);
        background-position: 0 4px;
    }
    .comments .tools > div:first-child div:nth-child(3){
        background-image: url(tools_20.jpg);
        background-position: 0 4px;
        margin: 0 0 0 4px;
    }
    .comments .tools > div:first-child div:nth-child(4){
        background-image: url(tools_22.jpg);
        background-position: 0 4px;
    }
    .comments .tools > div:first-child div:nth-child(5){
        background-image: url(tools_03.jpg);
    }
    .comments .tools > div:first-child div:nth-child(6){
        background-image: url(tools_05.jpg);
    }
    .comments .tools > div:first-child div:nth-child(7){
        background-image: url(tools_07.jpg);
    }
    .comments .tools > div:first-child div:nth-child(8){
        background-image: url(tools_09.jpg);
    }
    .comments .tools > div:first-child div:nth-child(9){
        background-image: url(tools_11.jpg);
    }
    .comments .tools > div:first-child div:nth-child(10){
        background-image: url(tools_13.gif);
    }





.comments textarea{
        width: 517px;
        height: 95px;
        resize: none;
        padding: 10px 30px;
        font-size: 16px;
        color: black;

    }

    div.captcha > div{
        width: 180px;
        height: 40px;
        border: 1px solid black;
    }

    .captcha label{
        width: 105px;
        display: inline-block;
        font-size: 12px;
        letter-spacing: 0;
    }
    .captcha input{
        width: 140px;
        height: 40px;
        font-size: 20px;
    }
    .comments .captcha, .comments .send{
        width: 250px;
        overflow: hidden;

    }

    .comments .captcha > *, .comments .send > *{
        float: right;
        margin: 0 0 5px 0;
    }

    .comments .send{
        vertical-align: super;
    }

    .comments .send a{
        border: 1px solid #006633;
        border-radius: 10px;
        padding: 11px 28px;
        margin-top: 3px;
    }

    .comments .send label{
        font-family: BlissPro;
        font-size: 18px;
        margin: 9px 5px 0 2px;

    }
    .comments .send input{
        width: 20px;
        height: 20px;
        margin-top: 9px;
    }



