@media screen and (min-width: 768px) and (max-width: 1179px) {

    @font-face {
        font-family: BlissPro;
        src: url(fonts/BlissPro-Regular.otf);
    }
    @font-face {
        font-family: BlissProBold;
        src: url(fonts/BlissPro-Bold.otf);
    }
    @font-face {
        font-family: BlissProLight;
        src: url(fonts/BlissPro-Light.otf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "BlissPro";
    }

    .content {
        width: 768px;
        margin: 0 auto;


    }

    .header {
        padding: 3px 0 9px 0;
    }

    .header-logo, .header-search, .header-social-networks, .header-basket {
        display: inline-block;
    }

    .header-logo {
        position: relative;
        margin: 0 0px 0 10px;
    }

    .header-logo span {
        position: absolute;
        top: 6px;
        left: 46px;
        font-size: 14px;
        letter-spacing: 1.5px;
        font-family: "BlissProLight";
    }

    .header-logo img {
        position: relative;
        top: 9px;
    }

    .header-search {
        margin: 0 0px 0 12px;
    }

    .search {
        width: 120px;
        position: relative;
        top: -16px;
    }

    .search input {
        border: none;
    }

    .search .input {
        width: 100%;
        padding: 6px 18px 11px 10px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
        border: 1px solid #006633;
    }

    .search .input:focus {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
        background: #E8E8E8;
        color: #333;
    }

    .search .submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        cursor: pointer;
        background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
        opacity: 0.5;
    }

    .search .submit:hover {
        opacity: 0.8;
    }

    input[type="search"] {
        -webkit-appearance: none;
    }

    .header-social-networks {
        margin: 0 0px 0 14px;
    }

    .header-social-networks li {
        display: inline-block;
        width: 37px;
    }

    .header-basket {
        position: relative;
        top: -16px;
        margin: 0 0 0 8px;
        border: 1px solid #103b1d;
        border-radius: 10px;
        font-size: 16px;
    }

    .header-basket-left {
        display: inline-block;
        padding: 6px 10px 6px 11px;
    }

    .header-basket-right {
        display: inline-block;
        padding: 12px 22px 12px 23px;
        background-color: #006633;
        border-color: #103b1d;
        border-radius: 0 7px 7px 0;
    }

    .header-basket-right a {
        text-decoration: none;
        color: white;
    }

    .header-nav {
        background-color: #006633;
        padding: 5px 0;
    }

    .header-nav a {
        line-height: 1.6;
        font-size: 20px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 9px 0 0;
        padding: 1px 0 1px 17px;
        border-left: 3px solid #103b1d;
    }

    .header-nav a:first-child {
        border-left: none;
    }

    .header-nav a:hover {
        text-shadow: 2px 2px 1px #103b1d;
    }

    .banner {
        padding: 22px 0 0 0;
    }

    .banner-left {
        display: inline-block;
        width: 480px;
        margin: 0 6px 0 0;
    }
    .banner-left img{
        width: 480px;
    }

    .banner-right {
        position: relative;
        display: inline-block;
        width: 272px;
        margin: 0 0 0 6px;
    }
    .banner-right img{
        width: 270px;
    }
    .banner-right-text {
        position: absolute;
        top: 15px;
        left: 15px;
        line-height: 1;
    }

    .banner-right-text span {
        display: block;
        text-transform: uppercase;
        color: white;
        font-size: 24px;
    }

    .separator {
        clear: both;
        padding: 9px 0;
    }

    .separator-icon {
        float: left;
        background: url(separator-icon.png) no-repeat;
    }

    .name-of-section {
        display: inline-block;
        padding: 14px 20px 10px 43px;
        color: #006633;
        font-size: 17px;
        letter-spacing: 1.1px;
        font-family: "BlissProBold";
    }

    .separator-hr {
        padding: 24px 0 24px 0;
    }

    .books {
        margin-bottom: 6px;
        max-height: 315px;
        overflow: hidden;
    }

    .one-book {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px 31px;
        width: 124px;
    }
    .one-book img{
        width: 129px;
        height: 205px;
        overflow: hidden;
    }
    .one-book:first-child {
        margin-left: 0;
    }

    .author {
        font-size: 12px;
        color: #006633;
        font-family: "BlissPro";
        margin: 10px 0 2px 0;
    }

    .name-of-book {
        margin: 0 0 2px 0;
        line-height: 1;
    }

    .price {
        font-family: "BlissProBold";
        font-size: 17px;
    }

    .currency {
        font-size: 12px;
        font-family: "BlissProLight";
    }

    .add {
        display: inline-block;
        background-color: #006633;
        padding: 1px 6px 1px 8px;
    }
    .add:hover{
        box-shadow: -2px -2px 1px white;
    }
    .add > a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: "BlissProLight";
    }

    .footer-logo {
        text-align: center;
        padding: 8px 0 29px 0;
        font-size: 22px;
        font-family: "BlissProBold";
    }

    .footer-logo > img {
        margin-right: 19px;
    }

    .footer-logo > p {
        margin: -16px 0 14px 0;
    }

    .footer-bg {
        background-color: #006633;
    }

    .footer-nav {
        position: relative;
    }

    .up-button {
        text-align: center;
    }

    .up-button a {
        position: absolute;
        top: -20px;
        left: 364px;
    }

    .footer-nav > ul {
        padding: 15px 0 25px 0;
    }

    .footer-nav > ul > li {
        display: inline-block;
        vertical-align: top;
        border-left: 2px solid #103b1d;
        padding: 0 10px 0 10px;
    }

    .footer-nav > ul > li:first-child {
        border-left: none;
        padding-left: 0;
    }

    .footer-submenu {
        padding: 8px 0;
    }

    .footer-submenu > li {
        text-decoration: none;
        list-style: none;
        line-height: 1.5;
    }

    .footer-submenu > li > a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 1;
    }

    .footer-submenu > li > a:hover {
        text-shadow: 2px 2px 1px #103b1d;
    }


    .footer-info {
        padding: 10px 0 0 0;
    }

    .footer-info > div {
        display: inline-block;
        vertical-align: top;
    }

    .documents {
        width: 222px;
        color: rgb(153, 153, 153);
    }

    .documents p {
        line-height: 1.167;
        font-size: 12px;
        font-family: "BlissPro";
    }

    .pay {
        width: 315px;
        text-align: center;
    }

    .pay-logo > div {
        display: inline-block;
    }

    .pay-logo a {
        margin: 0 21px 0 -6px;
    }

    .contacts {
        float: right;
        text-align: right;
        font-size: 18px;
        font-family: "BlissPro";
        color: rgb(153, 153, 153);
        line-height: 1;
        width: 222px;
    }

    .contacts p:nth-child(n+4) {
        font-size: 12px;
    }

}