@media screen and (min-width: 400px) and (max-width: 599px) {



    @font-face {
        font-family: BlissPro;
        src: url(fonts/BlissPro-Regular.otf);
    }
    @font-face {
        font-family: BlissProBold;
        src: url(fonts/BlissPro-Bold.otf);
    }
    @font-face {
        font-family: BlissProLight;
        src: url(fonts/BlissPro-Light.otf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "BlissPro";
    }

    .content {
        width: 400px;
        margin: 0 auto;


    }

    .header {
        padding: 5px 0 0 0;
        position: relative;
    }

    .header-logo, .header-search, .header-social-networks, .header-basket {
        display: inline-block;
    }

    .header-logo {
        position: relative;
        margin: 0 0px 10px 10px;
    }

    .header-logo span {
        position: absolute;
        top: -6px;
        left: 30px;
        font-size: 11px;
        letter-spacing: 1.5px;
        font-family: "BlissProLight";
    }

    .header-logo img {
        position: relative;
        top: 9px;
        width: 170px;
    }

    .header-search {
        margin: 0 0px 0 12px;
        position: absolute;
        top: 65px;
        left: -5px;
    }

    .search {
        width: 228px;
        position: relative;
        top: -13px;
    }

    .search input {
        border: none;
    }

    .search .input {
        width: 100%;
        padding: 3px 18px 8px 10px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
        border: 1px solid #006633;
    }

    .search .input:focus {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
        background: #E8E8E8;
        color: #333;
    }

    .search .submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        cursor: pointer;
        background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
        opacity: 0.5;
    }

    .search .submit:hover {
        opacity: 0.8;
    }

    input[type="search"] {
        -webkit-appearance: none;
    }

    .header-social-networks {
        margin: 0 0px 0 10px;
        position: relative;
        top: 0px;
        left: 100px;

    }

    .header-social-networks li {
        display: inline-block;
        width: 31px;
    }

    .header-social-networks img{
        width: 31px;
    }

    .header-basket {
        position: relative;
        top: -4px;
        left: 250px;
        margin: 0 0 0 8px;
        border: 1px solid #103b1d;
        border-radius: 10px;
        font-size: 14px;
    }

    .header-basket-left {
        display: inline-block;
        padding: 6px 0px 6px 5px;
    }
    .header-basket-left a{
        text-decoration: none;
        color: black;
    }
    .header-basket-right {
        display: inline-block;
        padding: 6px 15px 8px 5px;
        background-color: #006633;
        border-color: #103b1d;
        border-radius: 0 7px 7px 0;
    }

    .header-basket-right a {
        text-decoration: none;
        color: white;
    }


    .header-nav {
        background-color: #006633;
        padding: 3px 0;
    }

    .header-nav a {
        line-height: 1.6;
        font-size: 17px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 2px 0 0;
        padding: 1px 0 1px 5px;
        border-left: 3px solid #103b1d;
    }

    .header-nav a:first-child {
        border-left: none;
    }

    .header-nav a:hover {
        text-shadow: 2px 2px 1px #103b1d;
    }

    .banner {
        padding: 5px 0 0 0;
    }

    .banner-left {
        display: inline-block;
        width: 353px;
        margin: 0 6px 0 8px;
        display: none;
    }
    .banner-left img{
        width: 353px;
    }

    .banner-right {
        position: relative;
        display: inline-block;
        width: 387px;
        margin: 0 0 0 6px;
    }
    .banner-right img{
        width: 387px;
    }
    .banner-right-text {
        position: absolute;
        top: 26px;
        left: 26px;
        line-height: 1;
    }

    .banner-right-text span {
        display: block;
        text-transform: uppercase;
        color: white;
        font-size: 33px;
    }

    .separator {
        clear: both;
        padding: 0px 0;
    }

    .separator-icon {
        float: left;
        background: url(separator-icon.png) no-repeat;
    }

    .name-of-section {
        display: inline-block;
        padding: 14px 20px 10px 43px;
        color: #006633;
        font-size: 16px;
        letter-spacing: 1.1px;
        font-family: "BlissProBold";
    }

    .separator-hr {
        padding: 24px 0 24px 0;
    }

    .books {
        margin-bottom: 6px;
        max-height: 285px;
        overflow: hidden;
    }

    .one-book {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px 25px;
        width: 110px;
    }

    .one-book img{
        width: 110px;
        height: 175px;
        overflow: hidden;
    }
    .one-book:first-child {
        margin-left: 7px;
    }

    .author {
        font-size: 12px;
        color: #006633;
        font-family: "BlissPro";
        margin: 10px 0 2px 0;
    }

    .name-of-book {
        margin: 0 0 2px 0;
        line-height: 1;
    }

    .price {
        font-family: "BlissProBold";

    }

    .currency {
        font-size: 12px;
        font-family: "BlissProLight";
    }

    .add {
        display: inline-block;
        background-color: #006633;
        padding: 1px 6px 1px 8px;
    }
    .add:hover{
        box-shadow: -2px -2px 1px white;
    }
    .add > a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: "BlissProLight";
    }

    .footer-logo {
        text-align: center;
        padding: 8px 0 29px 0;
        font-size: 16px;
        font-family: "BlissProBold";
    }

    .footer-logo > img {
        margin-right: 19px;
        width: 190px;
    }

    .footer-logo > p {
        margin: -16px 0 14px 0;
    }

    .footer-bg {
        background-color: #006633;
    }

    .footer-nav {
        position: relative;
    }

    .up-button {
        text-align: center;
    }

    .up-button a {
        position: absolute;
        top: -20px;
        left: 185px;
    }

    .footer-nav > ul {
        padding: 15px 0 25px 0;
    }

    .footer-nav > ul > li {
        display: inline-block;
        vertical-align: top;
        border-left: 2px solid #103b1d;
        padding: 0 0 0 10px;
    }

    .footer-nav > ul > li:first-child {
        border-left: none;
        padding: 0 45px 0 10px;
    }

    .footer-nav > ul > li.footer-submenu-3{
        border-left: none;

    }

    .footer-submenu {
        padding: 8px 0;
    }

    .footer-submenu-2 > ul > li:nth-child(3){
        width: 165px;
    }

    .footer-submenu > li {
        text-decoration: none;
        list-style: none;
        line-height: 1.5;
    }

    .footer-submenu > li > a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 1;
    }

    .footer-submenu > li > a:hover {
        text-shadow: 2px 2px 1px #103b1d;
    }



    .footer-info {
        padding: 10px 0 0 0;
    }

    .footer-info > .documents {
        width: 222px;
        color: rgb(153, 153, 153);
        display: none;
    }

    .documents p {
        line-height: 1.167;
        font-size: 10px;
        font-family: "BlissPro";
    }

    .pay {
        width: 400px;
        text-align: center;
    }

    .pay-logo > div {
        display: inline-block;
    }

    .pay-logo a {
        margin: 0 21px 0 -6px;
    }

    .contacts {
        float: right;
        text-align: center;
        font-size: 16px;
        font-family: "BlissPro";
        color: rgb(153, 153, 153);
        line-height: 1;
        width: 400px;
    }

    .contacts p:nth-child(n+4) {
        font-size: 12px;
    }


    .footer-nav-for-big-screen{
        display: none;
    }


}