@media screen and (min-width: 600px) and (max-width: 767px) {



    @font-face {
        font-family: BlissPro;
        src: url(fonts/BlissPro-Regular.otf);
    }
    @font-face {
        font-family: BlissProBold;
        src: url(fonts/BlissPro-Bold.otf);
    }
    @font-face {
        font-family: BlissProLight;
        src: url(fonts/BlissPro-Light.otf);
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "BlissPro";
    }

    .content {
        width: 601px;
        margin: 0 auto;


    }

    .header {
        padding: 5px 0 0 0;
    }

    .header-logo, .header-search, .header-social-networks, .header-basket {
        display: inline-block;
    }

    .header-logo {
        position: relative;
        margin: 0 0px 0 10px;
    }

    .header-logo span {
        position: absolute;
        top: 4px;
        left: 25px;
        font-size: 10px;
        letter-spacing: -0.2px;
        font-family: "BlissProLight";
    }

    .header-logo img {
        position: relative;
        top: 9px;
        width: 145px;
    }

    .header-search {
        position: relative;
        margin: 0 0px 0 12px;
    }

    .search {
        width: 168px;
        position: relative;
        top: -10px;
        z-index: 40;
    }

    .search input {
        border: none;
    }

    .search .input {
        width: 100%;
        padding: 0px 18px 5px 7px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
        border: 1px solid #006633;
    }

    .search .input:focus {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
        background: #E8E8E8;
        color: #333;
    }

    .search .submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        cursor: pointer;
        background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
        opacity: 0.5;
    }

    .search .submit:hover {
        opacity: 0.8;
    }

    input[type="search"] {
        -webkit-appearance: none;
    }

    .header-social-networks {
        margin: 0 0px 0 20px;
    }

    .header-social-networks li {
        display: inline-block;
        width: 25px;
    }

    .header-social-networks img{
        width: 25px;
    }

    .search-down{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
        padding: 27px 0 13px 0;
        border-radius: 10px;
        border: 1px solid #006633;
        background-color: white;
        opacity: 0.97;
        z-index: 30;
        font-size: 13px;
    }
        .search-down ul{
            display: inline-block;
            list-style: none;
            margin: 5px 0 3px 0;

        }
        .search-down span{
            color: #12673e;
            font-size: 15px;
            margin-left: 7px;
        }

        .search-down > span{
            vertical-align: top;

        }
        .search-down > p > span{
            margin-right: 15px;
        }
        .search-down p:first-child{
            padding: 0 0 3px 15px;

    }


    .log-in {
        display: none;
        width: 100%;
        position: absolute;
        top: 9px;
        left: -1px;
        padding: 25px 0 0 0;
        border-radius: 0 0 10px 10px;
        border: 1px solid #006633;
        z-index: 30;
        border-top: none;
        text-align: center;

    }

        .log-in  form{
            background-color: white;
            opacity: 0.97;
            border-radius: 0 0 10px 10px;
        }

        .log-in  a{
            text-decoration: none;
        }
        .log-in  > form > a, .log-in p{
            font-size: 11px;
            margin: 0 0 10px 5px;
            color: #12673e;
        }

        .log-in  ul{
            margin: 0px auto;
            width: 130px;
        }
        .log-in  li{
            margin: 0px 0px 7px 0px;
            list-style: none;
            display: inline-block;
        }
        .log-in  li img{
            width: 27px;;

        }
        .log-in hr{
            width: 90%;
            margin: 0 auto;
        }
        .log-in input{
            width: calc(100% - 40px);
            padding: 2px 13px 2px 17px;
            -moz-box-sizing: border-box;
            border-radius: 8px;
            margin: 2px 7px 4px 4px;
            outline: none;
            font-size: 12px;
            border: 1px solid #006633;
            color: #111;
        }

        .enter-button{
            background-color: #006633;
            width: 50px;
            padding: 3px 8px 3px 8px;
            margin: 2px auto;

        }

        .enter-button a{
            color: white;
            font-size: 13px;
        }

    .log-out{
        display: none;
        position: absolute;
        top: 16px;
        left: -1px;
        width: 100%;
        padding: 15px 0 0 0;
        border-radius: 0 0 10px 10px;
        border: 1px solid #006633;
        z-index: 30;
        border-top: none;

    }

        .log-out > div{
            background-color: white;
            opacity: 0.97;
            border-radius: 0 0 10px 10px;
            padding: 0 0 7px 6px;
            line-height: 1.23;
        }

        .log-out > div > div{
            margin: 0 0 0 11px;
        }
        .log-out ul{
            margin: 0 0 0 10px;
        }
        .log-out li{
            list-style: none;
        }

        .log-out a, .log-out span{
            color: #12673e;
            text-decoration: none;
            font-size: 18px;
        }

        .log-out > div > a:first-child{
            font-size: 12px;
        }
        .log-out li a{
            color: black;
            font-size: 16px;;
        }



    .header-basket {
        position: relative;
        top: -4px;
        margin: 0 0 0 20px;
        border: 1px solid #103b1d;
        border-radius: 10px;
        font-size: 16px;
        width: 130px;

    }
    .header-mail{
        position: absolute;
        bottom: -11px;
        left: 29px;
        color: #103b1d;
        font-family: BlissProLight;
        font-size: 10px;
    }
    .header-basket-left {
        display: inline-block;
        padding: 0px 18px 0px 3px;
        z-index: 40;
        width: 50px;
        text-align: center;
        font-size: 11px;
    }

    .header-basket-right {
        display: inline-block;
        width: 35px;
        padding: 0px 15px 1px 5px;
        background-color: #006633;
        border-color: #103b1d;
        border-radius: 0 7px 7px 0;
        z-index: 40;
        text-align: center;
        font-size: 12px;
    }
    .header-basket-left a{
        text-decoration: none;
        color: black;

    }
    .header-basket-left > a:last-child{
        vertical-align: super;
    }

    .header-basket-left a.hidden{
        display:none;

    }

    .header-basket-right a {
        text-decoration: none;
        color: white;
    }

    .header-nav {
        background-color: #006633;
        padding: 3px 0;
        position: relative;
    }

    .header-nav > nav > a {
        line-height: 1.6;
        font-size: 16px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 9px 0 0;
        padding: 1px 0 1px 17px;
        border-left: 3px solid #103b1d;
    }

    .catalog-menu  {
        /*visibility: hidden;*/
        position: absolute;
        padding: 20px 0 10px 16px;
        background-color: #006633;
        width: 570px;
        z-index: 500;
    }
    .catalog-menu > ul > li {
        width: 270px;
        display: inline-block;
        vertical-align: top;
    }
    .catalog-menu > ul > li:first-child {
        border-left: none;

    }
    .catalog-column > ul {
        padding: 8px 0;
    }
    .catalog-column > ul > li {
        text-decoration: none;
        list-style: none;
        line-height: 1.5;
    }
    .catalog-column > ul > li > a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        line-height: 1;
    }
    .catalog-column > ul > li:hover > a {
        text-decoration: underline;
    }
    .header-nav a:first-child {
        border-left: none;
    }

    .header-nav a:hover {
        text-shadow: 2px 2px 1px #103b1d;
    }




    .log-in-mobile{
        display: none;
    }

    .log-out-mobile{
        display: none;
    }



    .banner {
        padding: 5px 0 0 0;
    }

    .banner-left {
        display: inline-block;
        width: 353px;
        margin: 0 6px 0 8px;

    }
    .banner-left img{
        width: 353px;
    }

    .banner-right {
        position: relative;
        display: inline-block;
        width: 200px;
        margin: 0 0 0 6px;
    }
    .banner-right img{
        width: 200px;
    }
    .banner-right-text {
        position: absolute;
        top: 13px;
        left: 13px;
        line-height: 1;
    }

    .banner-right-text span {
        display: block;
        text-transform: uppercase;
        color: white;
        font-size: 17px;
    }

    .separator {
        clear: both;
        padding: 0px 0;
    }

    .separator-icon {
        float: left;
        background: url(separator-icon.png) no-repeat;
    }

    .name-of-section {
        display: inline-block;
        padding: 14px 20px 10px 43px;
        color: #006633;
        font-size: 16px;
        letter-spacing: 1.1px;
        font-family: "BlissProBold";
    }

    .separator-hr {
        padding: 24px 0 24px 0;
    }

    .books {
        margin-bottom: 6px;
        max-height: 270px;
        overflow: hidden;
    }

    .one-book {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px 21px;
        width: 95px;
        height: 261px;
    }

    .one-book img{
        width: 90px;
        height: 143px;
        overflow: hidden;
    }
    .one-book:first-child {
        margin-left: 10px;
    }

    .author {
        font-size: 12px;
        color: #006633;
        font-family: "BlissPro";
        margin: 10px 0 2px 0;
    }

    .name-of-book {
        margin: 0 0 2px 0;
        line-height: 1;
    }
    .price {
        font-family: "BlissProBold";
        color: black;
        font-size: 16px;
    }

    .currency {
        font-size: 10px;
        font-family: "BlissProLight";
        color: black;
    }
    .add-line{
        position: absolute;
        bottom: -5px;
        left: 0;
    }

    .add {
        display: inline-block;
        background-color: #006633;
        padding: 1px 6px 1px 8px;
    }
    .add:hover{
        box-shadow: -2px -2px 1px white;
    }
    .add > a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: "BlissProLight";
    }

    .sale{
        position: absolute;
        top: 16px;
        left: -1px;
        background-color: #006633;
        opacity: 0.9;
        padding: 0px 7px 1px 7px;
    }

    .sale span{
        color: white;
        font-size: 13px;
    }
    .footer-logo {
        text-align: center;
        padding: 8px 0 29px 0;
        font-size: 16px;
        font-family: "BlissProBold";
    }

    .footer-logo > img {
        margin-right: 19px;
        width: 190px;
    }

    .footer-logo > p {
        margin: -16px 0 14px 0;
    }

    .footer-bg {
        background-color: #006633;
    }

    .footer-nav {
        position: relative;
    }

    .up-button {
        text-align: center;
    }

    .up-button a {
        position: absolute;
        top: -20px;
        left: 275px;
    }

    .footer-nav > ul {
        padding: 15px 0 25px 0;
    }

    .footer-nav > ul > li {
        display: inline-block;
        vertical-align: top;
        border-left: 2px solid #103b1d;
        padding: 0 20px 0 30px;
    }

    .footer-nav > ul > li:first-child {
        border-left: none;
        padding: 0 40px 0 105px;
    }

    .footer-nav > ul > li.footer-submenu-3{
        border-left: none;
        /*padding: 0 20px 0 20px;*/
        margin: 0 0 0 37px;
    }

    .footer-submenu {
        padding: 8px 0;
    }

    .footer-submenu > li {
        text-decoration: none;
        list-style: none;
        line-height: 1.5;
    }

    .footer-submenu > li > a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 1;
    }

    .footer-submenu > li > a:hover {
        text-shadow: 2px 2px 1px #103b1d;
    }



    .footer-info {
        padding: 10px 0 0 0;
    }

    .footer-info > div {
        display: inline-block;
        vertical-align: top;
    }

    .documents {
        width: 222px;
        color: rgb(153, 153, 153);
    }

    .documents p {
        line-height: 1.167;
        font-size: 10px;
        font-family: "BlissPro";
    }

    .pay {
        width: 157px;
        text-align: center;
    }

    .pay-logo > div {
        display: inline-block;
    }

    .pay-logo a {
        margin: 0 21px 0 -6px;
    }

    .contacts {
        float: right;
        text-align: right;
        font-size: 16px;
        font-family: "BlissPro";
        color: rgb(153, 153, 153);
        line-height: 1;
        width: 206px;
    }

    .contacts p:nth-child(n+4) {
        font-size: 12px;
    }

    .footer-nav-for-big-screen{
        display: none;
    }

}