*{
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
}

.content{
    width: 1180px;
    margin: 0 auto;
}

.header{
    padding: 3px 0 9px 0;
}
.header-logo, .header-search, .header-social-networks, .header-basket{
    display: inline-block;
}

.header-logo{
    position: relative;
    padding: 0 8px 0 20px;
}

.header-logo span{
    position: absolute;
    top: 5px;
    left: 65px;
    font-size: 14px;
}

.header-logo img{
    position: relative;
    top: 9px;
}

.header-search{
    padding: 0 15px 0 10px;
}



.search {
    width: 470px;
    position: relative;
    top: -16px;
}

.search input {
    border: none;
}

.search .input {
    font-size: 15px;
    width: 100%;
    padding: 8px 37px 12px 33px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;

    border: 1px solid #006633;

}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
    opacity: 0.5;
}

.search .submit:hover {
    opacity: 0.8;
}

input[type="search"] {
    -webkit-appearance: none;
}

.header-social-networks{
    padding: 0 57px 0 14px;
}
.header-social-networks li{
    display: inline-block;
    width: 37px;
}

.header-basket{
    position: relative;
    top: -16px;
    padding: 0 0 0 10px;
    border: 1px solid #006633;
    border-radius: 10px;
}

.header-basket-left{
    display: inline-block;
    padding: 12px 2px 12px 0;

}
.header-basket-right{
    display: inline-block;
    padding: 12px 19px 12px 23px;
    background-color: #006633;
    border-radius: 0 7px 7px 0;
    color: white;
}

.header-nav{
    background-color: #006633;
    padding: 10px 0 10px 0;
}

.header-nav a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}







.banner{
    padding: 22px 0 0 0;
}
.banner-left{
    display: inline-block;
    width: 740px;
    margin: 0 6px 0 0;
}

.banner-right{
    position: relative;
    display: inline-block;
    width: 418px;
    margin: 0 0 0 6px;
}

.banner-right-text{
    position: absolute;
    top: 25px;
    left: 35px;

}

.banner-right-text span{
    display: block;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}



.separator{
    clear: both;
    padding: 9px 0;
}

.separator-icon{
    float: left;
    background: url(separator-icon.png) no-repeat;
}

.name-of-section{
    display: inline-block;
    padding: 14px 20px 10px 40px;
    color: #006633;
}

.separator-hr{
    padding: 24px 0 24px 0;
}


.one-book{
    display: inline-block;
    margin-left: 31px;
    width: 137px;
}

.one-book:first-child{
    margin-left: 0;
}

.one-book img{

}

.author{

}

.name-of-book{

}





/*И стили для IE ниже 9-й версии

*+html .search {
    width: 28%;
    padding: 0 52px 0 0;
}
.search .input {
    border: 1px solid #DFDFDF;
    border-top: 1px solid #B3B3B3;
    padding-top: 7px;
    padding-bottom: 8px;
}
.search .input:focus {
    border: 1px solid #CFCFCF;
    border-top: 1px solid #999;
}
.search .submit {
    filter: alpha(opacity=50);
}
.search .submit:hover {
    filter: alpha(opacity=80);
}

*/